[Desktop Entry]
Name=Minesweeper
Comment=Avoid the mines and clear the minefield
Exec=MineSweeper
Icon=MineSweeper
Terminal=false
Type=Application
Categories=Qt;Game;LogicGame;
